schemas/queues-xml-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TwilioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Queues">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Queue" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Sid"/>
                    <xs:element type="xs:string" name="FriendlyName"/>
                    <xs:element type="xs:byte" name="CurrentSize"/>
                    <xs:element type="xs:short" name="AverageWaitTime"/>
                    <xs:element type="xs:short" name="MaxSize"/>
                    <xs:element type="xs:string" name="DateCreated"/>
                    <xs:element type="xs:string" name="DateUpdated"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>